@model IEnumerable<ProyectoTurismo.Models.ModeloConsultas>
@{
    ViewBag.Title = "ComentarioEmpresa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ComentarioEmpresa</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">idEmpresa</th>
            <th scope="col">Comentario</th>
            <th scope="col">Usuario</th>
            <th scope="col">NombreEmpresa</th>
            <th scope="col">Region</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.empresa.idEmpresa</td>
                <td>@item.sitio_Comentario.comentario</td>
                <td>@item.sitio_Comentario.usuario</td>
                <td>@item.empresa.nombre</td>
                <td>@item.region.nombre</td>
            </tr>
        }

    </tbody>
</table>

